.container {
    background-color: #ffff;
    width: 300px;
    height: auto;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #1a1a1a;
    display: block;
    margin: 0 auto;
}

.name {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 10px;
    color: black;
}

.tag,
.location {
    font-size: 14px;
    color: gray;
    margin: 5px 0;
    font-weight: bold;
}

.tag {
    margin-top: 5px;
}

.list {
    display: flex;
    justify-content: space-between;
    background-color: #a9a9a9;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    border: 1px solid #808080;
}

.item {
    flex: 1;
    text-align: center;
    padding: 10px;
    border-right: 1px solid #808080;
}

.item:last-child {
    border-right: none;
}


.info {
    display: block;
    font-size: 14px;
    color: black;
}

.counter {
    font-weight: bold;
    font-size: 16px;
    color: black;
}