.container {
    background-color: #fff;
    list-style: none;
    border: 2px solid black;
    border-radius: 5px;
    width: 70px;
    height: 120px;
    padding: 5px;
    text-align: center;
}



.img {
    width: 50px;
    height: auto;
    background-color: transparent;
    border-radius: 0;
}


.status {
    color: red;
}

.status.online {
    color: green;
}